page-home-index {
    .moduleIco ion-row {
        margin: 0px 0px;
        ion-col {
            flex-grow: 0;
            min-width: 90px;
            height: 110px;
            button {
                display: flex;
                flex-flow: column;
                align-items: center;
                background-color: transparent;
                ion-icon {
                    font-size: 30px;
                    margin: 5px;
                    // background-color: red;
                    color: white;
                    border-radius: 30px;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
    }


}
