<ion-list>
    <ion-row>
        <ion-col>
            <span class="file">
                <input type="file" ng2FileSelect 
                [uploader]="uploader" 
                 multiple />选择文件
            </span>
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of uploader.queue">
        <ion-col>
            <button ion-button icon-only small (click)="item.remove();ReturnJson()">
                    <ion-icon name="close"></ion-icon>
                  </button>
            <!-- <button ion-button icon-only small (click)="item.upload();ReturnJson()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <ion-icon name="cloud-upload"></ion-icon>
                  </button> -->
        </ion-col>
        <ion-col>
            <strong>{{ item?.file?.name }}</strong>
            <ion-icon class="delIco delIcoBlue" *ngIf="item.isSuccess" name="checkmark-circle"></ion-icon>
            <ion-icon class="delIco delIcoRed" *ngIf="item.isError" name="warning"></ion-icon>
        </ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col align-self-start>
            <button type="button" class="file" (click)="uploader.uploadAll();ReturnJson()" [disabled]="!uploader.getNotUploadedItems().length">
                     全部上传 
                  </button>
        </ion-col>
        <ion-col align-self-end>
            <button align-self-center type="button" class="file" (click)="uploader.clearQueue();ReturnJson()" [disabled]="!uploader.queue.length">
                    全部删除 
                  </button>
        </ion-col>
    </ion-row> -->

</ion-list>