<ion-header>
  <ion-toolbar color="car">
    <ion-title>岐山翁家坝宗亲注册</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!fatherIsTrue">
    <ion-item>
      <ion-label>{{fatherLabel}}</ion-label>
      <ion-input type="text" [(ngModel)]="fatherName" placeholder="{{fatherLabel}}"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="car" block (click)="SubmitFather()">下一步</button>
    </div>
  </ion-list>
  <ion-list *ngIf="fatherIsTrue" [formGroup]="userForm">
    <ion-item-divider color="light">账号信息</ion-item-divider>
    <ion-item>
      <ion-icon name="call" item-left></ion-icon>
      <ion-input type="text" formControlName="loginName" placeholder="请输入手机号码"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="wifi" item-left></ion-icon>
      <ion-input type="text" formControlName="code" placeholder="短信验证码"></ion-input>
      <button item-right ion-button small color="secondary" [disabled]="sendCodeDisabled" (click)="SendCode($event)" #sendCode>{{sendCodeText}}</button>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      <ion-input type="text" formControlName="password" placeholder="密码由6-20位数字字母构成"></ion-input>
    </ion-item>
    <ion-item-group>
      <ion-item-divider color="light">基础资料</ion-item-divider>
      <ion-item>
        <ion-label>用户姓名</ion-label>
        <ion-label item-end>{{bean.parentArr[0].V}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{bean.parentArr[0].V}}父亲</ion-label>
        <ion-label item-end>{{bean.parentArr[1].V}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{validationMessages.level_id.aliasName}}</ion-label>
        <ion-select formControlName="level_id" okText="确定" cancelText="取消">
          <ion-option value="1">老大</ion-option>
          <ion-option value="2">老二</ion-option>
          <ion-option value="3">老三</ion-option>
          <ion-option value="4">老四</ion-option>
          <ion-option value="5">老五</ion-option>
          <ion-option value="6">老六</ion-option>
          <ion-option value="7">老七</ion-option>
          <ion-option value="8">老八</ion-option>
          <ion-option value="9">老九</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{validationMessages.sex.aliasName}}</ion-label>
        <ion-select formControlName="sex" okText="确定" cancelText="取消">
          <ion-option value="男">男</ion-option>
          <ion-option value="女">女</ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>
    <ion-item-divider color="light">出生信息</ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-label>{{this.bean.YEARS_TYPE}}</ion-label>
        <ion-datetime [ngModelOptions]="{standalone: true}" style="margin:0px;padding:0px" pickerFormat="YYYY MM DD HH" displayFormat="YYYY年MMM月DD日HH时"
          min="1661" [(ngModel)]="bean.BIRTHDAY_TIME" (ionChange)="DoneBirthdayTime(bean.BIRTHDAY_TIME)" cancelText='取消' doneText='确定'></ion-datetime>
      </ion-item>
      <ion-item *ngIf="this.bean.YEARS_TYPE=='阳历'">
        <ion-label>农历</ion-label>
        <ion-label item-end>{{lunlarDate}}</ion-label>
      </ion-item>
      <ion-item *ngIf="this.bean.YEARS_TYPE=='农历'">
        <ion-label>阳历</ion-label>
        <ion-label item-end>{{solarDate}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>{{validationMessages.birthday_place.aliasName}}</ion-label>
        <ion-input formControlName="birthday_place"></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <div *ngIf="fatherIsTrue" padding>
    <button ion-button color="car" block (click)="submit()">提交</button>
  </div>
</ion-content>