<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="twitter">
        <ion-title>{{'setting.Title'|translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item class="thumbnailMy">
            <ion-thumbnail item-left>
                <up-single-pic></up-single-pic>
            </ion-thumbnail>

            <h2>头像上传
            </h2>

        </ion-item>
        <ion-list-header>
            {{"setting.setting"|translate}}
        </ion-list-header>
        <button *ngIf="plt.is('android')" ion-item (click)="CheckNew()">{{"setting.CheckNew"|translate}}</button>
        <ion-item>
            <ion-label> {{"login.Change_Lang"|translate}} </ion-label>
            <ion-select placeholder="{{'login.Change_Lang'|translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="langSelect"
                (ngModelChange)="changeLang(langSelect)" okText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}">
                <ion-option *ngFor="let lang of fig.LanguageArray" value="{{lang.Key}}" [selected]="lang.Key === translate.currentLang">{{lang.Value}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            {{"setting.BaseUserInfo"|translate}}
        </ion-list-header>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.UserName"|translate}}</ion-note>
            <p>{{model.CnName}}</p>
        </ion-item>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.Email"|translate}}</ion-note>
            <p>{{model.Email}}</p>
        </ion-item>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.FamilyPhone"|translate}}</ion-note>
            <p>{{model.FamilyPhone}}</p>
        </ion-item>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.api"|translate}}</ion-note>
            <p>{{fig.api}}</p>
        </ion-item>
    </ion-list>


    <ion-list>
        <ion-list-header>
            {{"setting.BaseProgramm"|translate}}
        </ion-list-header>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.AppName"|translate}}</ion-note>
            <p>{{versionEnt.AppName}}</p>
        </ion-item>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.PackageName"|translate}}</ion-note>
            <p>{{versionEnt.PackageName}}</p>
        </ion-item>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.VersionCode"|translate}}</ion-note>
            <p>{{versionEnt.VersionCode}}</p>
        </ion-item>
        <ion-item>
            <ion-note stacked class="MyTitle">{{"setting.VersionNumber"|translate}}</ion-note>
            <p>{{versionEnt.VersionNumber}}</p>
        </ion-item>
    </ion-list>
    <button ion-button block (click)="Exit()">{{"setting.ExitLogin"|translate}}</button>
</ion-content>